extends layout

block content
  a(href="/"): button.btn.btn-secondary(type="button") Go Home
  #register
    .container
      #register-row.row.justify-content-center.align-items-center
         #register-column.col-md-6
          #register-box.col-md-12
              form(method='POST' action='/api/user/create')
                br
                h3.text-center.text-info Register Here
                hr
                div.form-group
                  label(for='email') Email
                  input.form-control(type='text' id='email' placeholder='email' name='emailsignup')
                div.form-group
                  label(for='password') Password
                  input.form-control(type='password' id='password' placeholder='password' name='passwordsignup')
                div.form-group
                  label(for='username') Username
                  input.form-control(type='username' id='username' placeholder='username' name='usernamesignup')
                button.w-100.btn.btn-success(type='submit') Register

