extends layout

block content
  h1 Home Page
  title=title

  ul
    li
      a(href="users/login") Login
    li
      a(href="users/register") Register
    li
      a(href="/lobby") Lobby Page
    li
      a(href="/games") Games Page
  
  

