extends layout

block content
  if username != undefined
    h1 Welcome, #{username}
    title=title
  else
    h1 Welcome! Please sign in.
    title = title

  ul
    li
      a(href="users/login") Login
    li
      a(href="users/register") Register
    if username != undefined
      li
        a(href="/lobby") Lobby Page
      li
        a(href="/games") Games Page
  