  
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#lobby .container #lobby-row #lobby-column #lobby-box {
  margin-top: 10px;
  max-width: 600px;
  height: 50%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#lobby .container #lobby-row #lobby-column #lobby-box #lobby-form {
  padding: 20px;
}
#lobby .container #lobby-row #lobby-column #lobby-box #lobby-form #lobby-link {
  margin-top: -85px;
}