
body {
    margin: 0;
    padding: 0;
    background: url(/img/scrabble-image.jpg) no-repeat center center fixed;
    opacity: 0.6;
    background-size: contain 100%;
    background-color: #17a2b8;
    height: 100vh;
    text-transform: capitalize;
}

#Game .container #Game-row #Game-column #Game-box {
    margin-top: 5px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
  
#Game .container #Game-row #Game-column #Game-box #Game-box-scroll{
    max-height: 600px;
    overflow-y: auto;

}
#playerTurn{
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

#totalScore{
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
#playerOneScoreContainer h3 b{
    color:blue
}
#score{
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

#valid{
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
}

#invalidWord{
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}

#gameOver{
    font-weight: bold;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

#playerOneScoreContainer h3 em{
    color:red;
}

#opponentScore{
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
}
