extends layout

block content
  a(href="/lobby"): button.btn.btn-secondary(type="button") Back To Lobby
  br
  #Game
    .container
      h1= title
      p Yo Welcome To Scrabble!! #{username}

      
