extends layout

block content
  h1= title
  p Welcomes to the game page, #{username}

  #gametray
    .container
      #gametray.row
          for tilepiece in playerhand
            div.gap#tilepieces
              div #{tilepiece.letter}
          
  a(href = "/") Home