extends gamesLayout

block content

  a(href="/lobby"): button.btn.btn-secondary(type="button") Back To Lobby
  br
  #Game
    .container
      h1= title
      p Yo Welcome To Scrabble!! #{username}
  #gametray
    .container
      #gametray.row
          for tilepiece in playerHand
            div.gap#tilepieces
              div #{tilepiece.letter}
      #gametray.row
          for tile in gameBoard
            div.gap#tilepieces
              div #{tile.letter}
