extends gamesLayout

block content

  a(href="/lobby"): button.btn.btn-secondary(type="button") Back To Lobby
  br
  #Game
    .container
      h1= title
      p Yo Welcome To Scrabble!! #{username}

  #gameboard
     .container2
       #gameboard.row.column
          for tiles in playerHand
            div.gap#tiles
              div #{tiles.letter}

  #gametray
    .container
      #gametray.row
          for tilepiece in playerHand
            div.gap#tilepieces
              div #{tilepiece.letter}
